/* font-family: 'Acme', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Handlee', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Monoton', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik Glitch', cursive;
font-family: 'Rubik Puddles', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Ultra', serif; */




a{
  text-decoration: none;
  
}

.navbar-toggler
{
  color: black !important;
}


.sub-back-color{
  background-color: rgb(205, 217, 245);
  
}


.card-title{
  text-align: center;
}


 




/*card-title-text*/
.card-title{
  text-align: center;
}



/*text link*/
.text-style
{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*
.notice-board{
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  text-align: center;

  
}
/*Notice board*/
.text-1{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: x-large;
  
  
}

.text-2{
  text-align: center;
  color: red;
  
  
}

.notice-board-size{
  width: 100%;
}
/*Footer-text-about-contact us*/
.ulist1{
  float: left;
  margin-left: 100px;
}


/*Footer-text-addr-phn-email*/
.ulist2{
  float: left;
  margin-left: 100px;
  margin-top: 25px;
}

